// Import Sass mixins, variables, Compass, etc.
@import "_base.scss";
@import "_mixins.scss";



// TEST CONTENT
audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}
