.sprite {
	background: url("../images/sprites/css/sprite1.css.svg") no-repeat;
}

.sprite-angle-double-down {
	background-position: 22.641509433962263% 49.64028776978417%;
	width: 18px;
	height: 28px;
}

.sprite-angle-double-left {
	background-position: 70% 40.28776978417266%;
	width: 16px;
	height: 28px;
}

.sprite-angle-double-right {
	background-position: 65% 0;
	width: 16px;
	height: 28px;
}

.sprite-angle-double-up {
	background-position: 16.9811320754717% 79.85611510791367%;
	width: 18px;
	height: 28px;
}

.sprite-angle-down {
	background-position: 88.0503144654088% 20.14388489208633%;
	width: 18px;
	height: 28px;
}

.sprite-angle-left {
	background-position: 42.331288343558285% 10.071942446043165%;
	width: 10px;
	height: 28px;
}

.sprite-angle-left-adslider {
	background-position: 8.737864077669903% 0;
	width: 27px;
	height: 47px;
}

.sprite-angle-left-prslider {
	background-position: 0 17.343173431734318%;
	width: 21px;
	height: 35px;
}

.sprite-angle-right {
	background-position: 63.80368098159509% 10.071942446043165%;
	width: 10px;
	height: 28px;
}

.sprite-angle-right-adslider {
	background-position: 0 0;
	width: 27px;
	height: 47px;
}

.sprite-angle-right-prslider {
	background-position: 6.666666666666667% 17.343173431734318%;
	width: 21px;
	height: 35px;
}

.sprite-angle-up {
	background-position: 40.880503144654085% 100%;
	width: 18px;
	height: 28px;
}

.sprite-arrow-circle-down {
	background-position: 100% 0;
	width: 28px;
	height: 28px;
}

.sprite-arrow-circle-left {
	background-position: 100% 10.071942446043165%;
	width: 28px;
	height: 28px;
}

.sprite-arrow-circle-o-down {
	background-position: 39.61038961038961% 20.14388489208633%;
	width: 28px;
	height: 28px;
}

.sprite-arrow-circle-o-up {
	background-position: 0 39.568345323741006%;
	width: 28px;
	height: 28px;
}

.sprite-arrow-circle-right {
	background-position: 9.090909090909092% 39.568345323741006%;
	width: 28px;
	height: 28px;
}

.sprite-arrow-circle-up {
	background-position: 18.181818181818183% 39.568345323741006%;
	width: 28px;
	height: 28px;
}

.sprite-arrow-down {
	background-position: 27.096774193548388% 39.568345323741006%;
	width: 26px;
	height: 28px;
}

.sprite-arrow-left {
	background-position: 35.714285714285715% 39.568345323741006%;
	width: 28px;
	height: 28px;
}

.sprite-arrow-right {
	background-position: 49.35064935064935% 0;
	width: 28px;
	height: 28px;
}

.sprite-arrow-up {
	background-position: 49.03225806451613% 10.071942446043165%;
	width: 26px;
	height: 28px;
}

.sprite-bars {
	background-position: 49.35064935064935% 20.14388489208633%;
	width: 28px;
	height: 28px;
}

.sprite-bookmark {
	background-position: 48.10126582278481% 30.215827338129497%;
	width: 20px;
	height: 28px;
}

.sprite-bookmark-o {
	background-position: 0 49.64028776978417%;
	width: 20px;
	height: 28px;
}

.sprite-calendar {
	background-position: 6.451612903225806% 49.64028776978417%;
	width: 26px;
	height: 28px;
}

.sprite-calendar-o {
	background-position: 14.838709677419354% 49.64028776978417%;
	width: 26px;
	height: 28px;
}

.sprite-camera {
	background-position: 39.869281045751634% 0;
	width: 30px;
	height: 28px;
}

.sprite-caret-left {
	background-position: 22.699386503067483% 16.906474820143885%;
	width: 10px;
	height: 28px;
}

.sprite-caret-right {
	background-position: 42.331288343558285% 39.568345323741006%;
	width: 10px;
	height: 28px;
}

.sprite-cc-stripe {
	background-position: 18% 0;
	width: 36px;
	height: 28px;
}

.sprite-check {
	background-position: 29.22077922077922% 49.64028776978417%;
	width: 28px;
	height: 28px;
}

.sprite-check-circle {
	background-position: 38.311688311688314% 49.64028776978417%;
	width: 28px;
	height: 28px;
}

.sprite-check-circle-o {
	background-position: 47.4025974025974% 49.64028776978417%;
	width: 28px;
	height: 28px;
}

.sprite-chevron-circle-down {
	background-position: 58.44155844155844% 0;
	width: 28px;
	height: 28px;
}

.sprite-chevron-circle-left {
	background-position: 58.44155844155844% 10.071942446043165%;
	width: 28px;
	height: 28px;
}

.sprite-chevron-circle-right {
	background-position: 58.44155844155844% 20.14388489208633%;
	width: 28px;
	height: 28px;
}

.sprite-chevron-circle-up {
	background-position: 58.44155844155844% 30.215827338129497%;
	width: 28px;
	height: 28px;
}

.sprite-chevron-down {
	background-position: 58.44155844155844% 40.28776978417266%;
	width: 28px;
	height: 28px;
}

.sprite-chevron-left {
	background-position: 0 59.71223021582734%;
	width: 20px;
	height: 28px;
}

.sprite-chevron-right {
	background-position: 6.329113924050633% 59.71223021582734%;
	width: 20px;
	height: 28px;
}

.sprite-chevron-up {
	background-position: 12.987012987012987% 59.71223021582734%;
	width: 28px;
	height: 28px;
}

.sprite-circle {
	background-position: 22.07792207792208% 59.71223021582734%;
	width: 28px;
	height: 28px;
}

.sprite-circle-o {
	background-position: 31.16883116883117% 59.71223021582734%;
	width: 28px;
	height: 28px;
}

.sprite-clock-o {
	background-position: 40.25974025974026% 59.71223021582734%;
	width: 28px;
	height: 28px;
}

.sprite-close {
	background-position: 48.40764331210191% 59.71223021582734%;
	width: 22px;
	height: 28px;
}

.sprite-close-large {
	background-position: 98.71794871794872% 87.58865248226951%;
	width: 24px;
	height: 24px;
}

.sprite-cloud-download {
	background-position: 19.607843137254903% 29.496402877697843%;
	width: 30px;
	height: 28px;
}

.sprite-cloud-upload {
	background-position: 0 29.496402877697843%;
	width: 30px;
	height: 28px;
}

.sprite-code-fork {
	background-position: 65% 20.14388489208633%;
	width: 16px;
	height: 28px;
}

.sprite-cog {
	background-position: 0 69.7841726618705%;
	width: 28px;
	height: 28px;
}

.sprite-comment {
	background-position: 9.090909090909092% 69.7841726618705%;
	width: 28px;
	height: 28px;
}

.sprite-comment-o {
	background-position: 18.181818181818183% 69.7841726618705%;
	width: 28px;
	height: 28px;
}

.sprite-comments-o {
	background-position: 27.272727272727273% 69.7841726618705%;
	width: 28px;
	height: 28px;
}

.sprite-compass {
	background-position: 36.36363636363637% 69.7841726618705%;
	width: 28px;
	height: 28px;
}

.sprite-compress {
	background-position: 45.45454545454545% 69.7841726618705%;
	width: 28px;
	height: 28px;
}

.sprite-download {
	background-position: 54.193548387096776% 69.7841726618705%;
	width: 26px;
	height: 28px;
}

.sprite-envelope {
	background-position: 62.98701298701299% 69.7841726618705%;
	width: 28px;
	height: 28px;
}

.sprite-envelope-o {
	background-position: 72.72727272727273% 0;
	width: 28px;
	height: 28px;
}

.sprite-exclamation-circle {
	background-position: 72.72727272727273% 10.071942446043165%;
	width: 28px;
	height: 28px;
}

.sprite-exclamation-triangle {
	background-position: 72.72727272727273% 20.14388489208633%;
	width: 28px;
	height: 28px;
}

.sprite-expand {
	background-position: 72.72727272727273% 30.215827338129497%;
	width: 28px;
	height: 28px;
}

.sprite-facebook {
	background-position: 38.125% 10.071942446043165%;
	width: 16px;
	height: 28px;
}

.sprite-facebook-square {
	background-position: 72.72727272727273% 50.35971223021583%;
	width: 28px;
	height: 28px;
}

.sprite-file-text-o {
	background-position: 72.72727272727273% 60.431654676258994%;
	width: 28px;
	height: 28px;
}

.sprite-flag {
	background-position: 0 79.85611510791367%;
	width: 28px;
	height: 28px;
}

.sprite-folder {
	background-position: 9.03225806451613% 79.85611510791367%;
	width: 26px;
	height: 28px;
}

.sprite-folder-open {
	background-position: 9.803921568627452% 29.496402877697843%;
	width: 30px;
	height: 28px;
}

.sprite-globe {
	background-position: 23.376623376623378% 79.85611510791367%;
	width: 28px;
	height: 28px;
}

.sprite-google-plus {
	background-position: 32.25806451612903% 79.85611510791367%;
	width: 26px;
	height: 28px;
}

.sprite-google-plus-square {
	background-position: 40.90909090909091% 79.85611510791367%;
	width: 28px;
	height: 28px;
}

.sprite-inbox {
	background-position: 50% 79.85611510791367%;
	width: 28px;
	height: 28px;
}

.sprite-info-circle {
	background-position: 59.09090909090909% 79.85611510791367%;
	width: 28px;
	height: 28px;
}

.sprite-instagram {
	background-position: 68.18181818181819% 79.85611510791367%;
	width: 28px;
	height: 28px;
}

.sprite-linkedin {
	background-position: 81.81818181818181% 0;
	width: 28px;
	height: 28px;
}

.sprite-linkedin-square {
	background-position: 81.81818181818181% 10.071942446043165%;
	width: 28px;
	height: 28px;
}

.sprite-lock {
	background-position: 79.24528301886792% 20.14388489208633%;
	width: 18px;
	height: 28px;
}

.sprite-mail-forward {
	background-position: 81.81818181818181% 30.215827338129497%;
	width: 28px;
	height: 28px;
}

.sprite-map-marker {
	background-position: 78.75% 40.28776978417266%;
	width: 16px;
	height: 28px;
}

.sprite-minus {
	background-position: 80.2547770700637% 50.35971223021583%;
	width: 22px;
	height: 28px;
}

.sprite-minus-circle {
	background-position: 81.81818181818181% 60.431654676258994%;
	width: 28px;
	height: 28px;
}

.sprite-paper-plane {
	background-position: 81.81818181818181% 70.50359712230215%;
	width: 28px;
	height: 28px;
}

.sprite-paper-plane-o {
	background-position: 0 89.92805755395683%;
	width: 28px;
	height: 28px;
}

.sprite-paypal {
	background-position: 9.090909090909092% 89.92805755395683%;
	width: 28px;
	height: 28px;
}

.sprite-pencil {
	background-position: 18.181818181818183% 89.92805755395683%;
	width: 28px;
	height: 28px;
}

.sprite-phone {
	background-position: 26.751592356687897% 89.92805755395683%;
	width: 22px;
	height: 28px;
}

.sprite-pinterest {
	background-position: 34.41558441558441% 89.92805755395683%;
	width: 28px;
	height: 28px;
}

.sprite-pinterest-square {
	background-position: 43.506493506493506% 89.92805755395683%;
	width: 28px;
	height: 28px;
}

.sprite-plus {
	background-position: 51.59235668789809% 89.92805755395683%;
	width: 22px;
	height: 28px;
}

.sprite-plus-circle {
	background-position: 59.74025974025974% 89.92805755395683%;
	width: 28px;
	height: 28px;
}

.sprite-print {
	background-position: 68.38709677419355% 89.92805755395683%;
	width: 26px;
	height: 28px;
}

.sprite-question-circle {
	background-position: 77.27272727272727% 89.92805755395683%;
	width: 28px;
	height: 28px;
}

.sprite-repeat {
	background-position: 90.9090909090909% 0;
	width: 28px;
	height: 28px;
}

.sprite-search {
	background-position: 90.3225806451613% 10.071942446043165%;
	width: 26px;
	height: 28px;
}

.sprite-search-header {
	background-position: 29.41176470588235% 10.181818181818182%;
	width: 30px;
	height: 31px;
}

.sprite-search-minus {
	background-position: 90.3225806451613% 30.215827338129497%;
	width: 26px;
	height: 28px;
}

.sprite-search-plus {
	background-position: 90.3225806451613% 40.28776978417266%;
	width: 26px;
	height: 28px;
}

.sprite-share-alt {
	background-position: 90.9090909090909% 50.35971223021583%;
	width: 28px;
	height: 28px;
}

.sprite-share-alt-square {
	background-position: 90.9090909090909% 60.431654676258994%;
	width: 28px;
	height: 28px;
}

.sprite-shopping-cart {
	background-position: 90.3225806451613% 70.50359712230215%;
	width: 26px;
	height: 28px;
}

.sprite-sort-asc {
	background-position: 87.5% 80.57553956834532%;
	width: 16px;
	height: 28px;
}

.sprite-sort-desc {
	background-position: 65% 30.215827338129497%;
	width: 16px;
	height: 28px;
}

.sprite-square {
	background-position: 0 100%;
	width: 28px;
	height: 28px;
}

.sprite-square-o {
	background-position: 8.9171974522293% 100%;
	width: 22px;
	height: 28px;
}

.sprite-star {
	background-position: 16.129032258064516% 100%;
	width: 26px;
	height: 28px;
}

.sprite-star-o {
	background-position: 24.516129032258064% 100%;
	width: 26px;
	height: 28px;
}

.sprite-tag {
	background-position: 33.116883116883116% 100%;
	width: 28px;
	height: 28px;
}

.sprite-tags {
	background-position: 29.41176470588235% 29.496402877697843%;
	width: 30px;
	height: 28px;
}

.sprite-th {
	background-position: 48.05194805194805% 100%;
	width: 28px;
	height: 28px;
}

.sprite-th-large {
	background-position: 56.774193548387096% 100%;
	width: 26px;
	height: 28px;
}

.sprite-th-list {
	background-position: 65.58441558441558% 100%;
	width: 28px;
	height: 28px;
}

.sprite-times-circle {
	background-position: 74.67532467532467% 100%;
	width: 28px;
	height: 28px;
}

.sprite-times-circle-o {
	background-position: 83.76623376623377% 100%;
	width: 28px;
	height: 28px;
}

.sprite-toggle-off {
	background-position: 29.605263157894736% 0;
	width: 32px;
	height: 28px;
}

.sprite-toggle-on {
	background-position: 13.81578947368421% 16.906474820143885%;
	width: 32px;
	height: 28px;
}

.sprite-trash {
	background-position: 98.08917197452229% 20.14388489208633%;
	width: 22px;
	height: 28px;
}

.sprite-trash-o {
	background-position: 98.08917197452229% 30.215827338129497%;
	width: 22px;
	height: 28px;
}

.sprite-twitter {
	background-position: 99.35483870967742% 40.28776978417266%;
	width: 26px;
	height: 28px;
}

.sprite-twitter-large {
	background-position: 99.67637540453075% 79.15194346289752%;
	width: 27px;
	height: 23px;
}

.sprite-twitter-square {
	background-position: 100% 60.431654676258994%;
	width: 28px;
	height: 28px;
}

.sprite-unlock-alt {
	background-position: 96.85534591194968% 50.35971223021583%;
	width: 18px;
	height: 28px;
}

.sprite-vimeo {
	background-position: 97.46835443037975% 94.75524475524476%;
	width: 20px;
	height: 20px;
}

.sprite-youtube {
	background-position: 56.493506493506494% 59.71223021582734%;
	width: 28px;
	height: 28px;
}

.sprite-youtube-square {
	background-position: 100% 70.50359712230215%;
	width: 28px;
	height: 28px;
}

