
 .form-item-title .form-text {
  width: $width-xxlarge;
}

.form-type-managed-file input.form-submit {
  margin-left: .5em;
}

.text-format-wrapper {
  position: relative;
 .form-item {
   margin-bottom: 0;
  }
}

/* Set the disable rich text to right bottom corner */
.field-widget-text-textarea-with-summary, .field-widget-text-textarea { 
 .wysiwyg-toggle-wrapper {
   position: absolute;
   bottom: 10px;
   right: 26px;
 }
}
