/* @partial _tables.scss */


table {
  border-collapse: collapse;
  border-spacing: 0;
   width: 100%; /* Prevent cramped-looking tables */
  /* Add vertical rhythm margins. */
  margin: $vert-gutter 0;
}

tbody {
  border-style: $table-tbody-border-style;
  border-width: $table-tbody-border-width;
  border-color: $table-tbody-border-color;
}

th {
 text-align: left; /* LTR */
 padding-right: 1em; /* LTR */
 border-style: $table-th-border-style;
 border-width: $table-th-border-width;
 border-color: $table-th-border-color;
}

td {
padding: $table-td-padding;
}


tr.even {
  background: $table-tr-even-background;
  border-style: $table-tr-even-border-style;
  border-width: $table-tr-even-border-width;
  border-color: $table-tr-even-border-color;

}

tr.odd {
  background: $table-tr-odd-background;
  border-style: $table-tr-odd-border-style;
  border-width: $table-tr-odd-border-width;
  border-color: $table-tr-odd-border-color;
}

tr.drag {
  background: $table-tr-drag-background;
}

fieldset { /* Darken table when in a ui-block */
  th {
   border-color: $ui-table-th-border-color;
  }
  tbody {
    border-color: $ui-table-tbody-border-color;
  }

  tr.even {
    background: $ui-table-tr-even-background;
    border-color: $ui-table-tr-even-border-color;

  }
  tr.odd {
    background: $ui-table-tr-odd-background;
    border-color: $ui-table-tr-odd-border-color;
  }
  tr.drag-previous {
    background-color: #fffce5;
  }
  tr.drag {
    background: $ui-table-tr-drag-background;
  }
}

table .item-list ul {
 margin: 0;
}

td.menu-disabled {
 background: $table-td-disabled-background;
}

/**
 * Responsive tables.
 *
 * Wrap <table> in div and it will scroll when overflowing.
 */

.table-responsive {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar; // -ms-autohiding-scrollbar ... http://msdn.microsoft.com/en-us/library/windows/apps/hh441298.aspx
  -webkit-overflow-scrolling: touch;
  margin: 0 0 ($vert-gutter*2) 0;

  table {
      max-width: 100%;
  }
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */

a.tabledrag-handle .handle {
  background-position: center center;
  height: 32px;
  margin: 0;
  padding: 0;
  width: 32px;
  display: block;
}

a.tabledrag-handle-hover .handle {
  background-position: center center;
}

.draggable a.tabledrag-handle {
  height: 1.7em;
  margin-left: 0;
  background-color: #f1f1f1;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  &:hover {
    background-color: #d1d1d1;
  }
}

tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #fffce5;
}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}


/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}
